/* $Id$ */

#define MYSQL_MSU_HOST "127.0.0.1"
#define MYSQL_MSU_USER "ottd"
#define MYSQL_MSU_PASS "mypassword"
#define MYSQL_MSU_DB   "servers"
#define MYSQL_MSU_PORT 3306

#define MYSQL_CONTENT_HOST "127.0.0.1"
#define MYSQL_CONTENT_USER "ottd"
#define MYSQL_CONTENT_PASS "mypassword"
#define MYSQL_CONTENT_DB   "content"
#define MYSQL_CONTENT_PORT 3306
